body { 
	background: url(images/Num_Char_Gen_Back.jpg) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	border-bottom: 15px solid #a1b3c7;
}

#pageContainer {
	max-width: 1050px;
	margin: auto;
	position: relative;
	/*top: 40%;*/
	height: 100%;
	display: table;
}

#formContainer {
	vertical-align: middle;
	display: table-cell;
}

h1, form, select, button {
	font-size: 35px;
	font-family:"Lucida Grande","Lucida Sans Unicode","Lucida Sans",Geneva,Verdana,sans-serif;
	text-shadow: 1px 1px 4px #000;
	color: white;
	margin: auto;
	font-weight: normal;
}

select {
	background: transparent url(images/arrow.png) no-repeat right center;
	border-style: dashed;
	border-color: white;
	border-width: 2px;
	-webkit-appearance: none;
	min-width: 155px;
}

select option {
	background: #a1b3c7;
}

button {
	position: fixed;
	right: 10px;
	top: 42%;
	height: 100px;
	width: 60px;
	border-style: none;
	background: transparent url(images/Next_Arrow.png) no-repeat right center;
}

#logo {
	position: fixed;
	right: 0;
	bottom: 0;
}
